# telegram
host-suffix, graph.org, proxy
host-suffix, legra.ph, proxy
host-suffix, t.me, proxy
host-suffix, tdesktop.com, proxy
host-suffix, telesco.pe, proxy
host-suffix, tx.me, proxy
host-keyword, telegra, proxy

# geoip
geoip, telegram, proxy