# hostname
hostname = c.tieba.baidu.com

# tieba c.tieba.baidu.com
^https?:\/\/c\.tieba\.baidu\.com\/c\/s\/login url script-request-header https://github.com/Larkris/earth/raw/main/script/tieba.js